#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 500px;
    overflow-y: scroll;
    max-width: 1000px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
    margin: 0 auto;
    padding: 0 20px;
    border: 1px solid var(--light-violet);
    border-radius: 20px;
    background-color: var(--dark-violet);
}

table {
    margin-bottom: 10px;
    width: 100%;
    border-spacing: 0;
    color: var(--beige);
}

thead {
    height: 50px;
    position: relative;
}

th {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    background-color: var(--dark-violet);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25%;
    padding-bottom: 20px;
}

th span {
    font-size: 18px;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}

td {
    height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    font-weight: 200;
    font-size: 16px;
}

tbody tr{
    transition: all 0.2s;
}

tbody tr:hover {
    background-color: var(--violet);
}

tbody tr:first-child{
    margin-top: 2.5ex;
}

input {
    border: 2px solid transparent;
    width: 85%;
    height: 20px;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

input:hover,
input:focus {
    border: 2px solid var(--dark-violet);
    box-shadow: 0 0 0 3px var(--violet);
    background-color: white;
}

p {
    color: var(--beige);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--dark-violet);
    border-radius: 20px;
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--light-violet);
    border-radius: 10px;
    border: 3px solid var(--dark-violet);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--violet);
}