:root {
    --dark-violet: #352F44;
    --violet: #5C5470;
    --light-violet: #B9B4C7;
    --beige:  #FAF0E6;
    background-color: var(--violet);
    font-family: "Libre Franklin", sans-serif;
}

body {
    margin: 0;
}

